<div id="errors">

</div>
<div class="card">
  <div class="card-header text-center">
    <%= image_tag theatre_image(@theatre, 200), class: "rounded-circle" %>
  </div>
  <div class="card-body">
    <h5><strong><%= @theatre.name %></strong></h5>
    <p>
      <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;
      <%= @theatre.address %>, <%= @theatre.city %>, <%= @theatre.state %> -<%= @theatre.pincode %>
    </p>
    <h5><strong>Screens</strong></h5>
    <div id="screens" class="card-columns">
      <%= render @theatre.screens.order("name") %>
    </div>
    <div id="screen-form">
    </div>
    <% if user_signed_in? %>
      <hr>
      <%= link_to edit_theatre_path(@theatre), class: "btn btn-outline-link" do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to @theatre, method: :delete, class: "btn btn-outline-link",
          data: {confirm: "Are you sure you want to delete - #{@theatre.name} ?"} do %>
        <i class="fa fa-trash" aria-hidden="true" style="color:red;"></i>
      <% end %>
      <%= link_to new_screen_path(theatre_id: @theatre.id), remote: true, class: "btn btn-outline-link" do %>
        <i class="fa fa-plus" aria-hidden="true"> &nbsp; Add Screen</i>
      <% end %>
    <% end %>
  </div>
</div>
