<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @movie.name %> has been added!</p>
    <p>
    ------------------------------------------------------------------------------<br>
    <%= simple_format(@movie.synopsis) %><br>
    ------------------------------------------------------------------------------
    </p>
    <p><small><%= @movie.runtime/60 %> hrs <%= @movie.runtime%60 %> mins</small></p>
    <p>Premieres on : <%= @movie.premiere %></p>
    <p>Language : <%= @language %></p>
    <p>Genre : <%= @genre %></p>
    <br>
    <p>Thank you for your time!!</p>
  </body>
</html>
