<tr id="person-<%= person.id %>">
  <th>
    <%= image_tag user_avatar(person, 50), class: "rounded-circle" %> &nbsp; &nbsp;
    <a href="<%= person_path(person) %>" style="color:black;text-decoration:none;">
      <%= person.name %>
    </a>
  </th>
  <td class="text-center">
    <%= link_to edit_person_path(person), remote: true, class: 'btn btn-outline-link' do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to person, method: :delete, data: { confirm: "Are you sure you want to delete - #{person.name}" },
        remote: true, class: 'btn btn-outline-link', style: "color:red;" do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
