<div class="card" id="movie-cast-<%= movie_cast.id %>">
  <div class="card-body text-center">
    <%= image_tag user_avatar(movie_cast.person, 100), class: "rounded-circle mb-2" %><br>
    <a href="<%= person_path(movie_cast.person.id) %>" style="color:black;text-decoration:none;">
      <strong><%= movie_cast.person.name %></strong><br>
    </a>
    <small>Actor</small><br>
    <small>As <%= movie_cast.character %></small>
    <% if current_user.has_role? :admin %>
      <br>
      <%= link_to movie_cast_path(movie_id: movie_cast.movie.id, id: movie_cast.id), remote: true,
          method: :delete, data: {confirm: "Are you sure you want to remove - #{movie_cast.person.name} ?"} do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>
